
td:hover {
  background-color: #eee;
  cursor: pointer;
}
.active {
  background-color: #eee;
  color: green;
  text-decoration: underline;
}
thead {
  background-color: #eee;
}

.menu {
  position: fixed;
  bottom: 10px;
  right: 20px;
  text-align: right;
}
.button {
  margin-top: 10px;
  background-color: #56ef83;
  border-radius: 12%;
  padding: 5px 10px 5px 10px;
}
.button:hover {
  cursor: pointer;
  text-decoration: underline;
}
